<div class="page-container">
  <h1>About us!</h1>
  <h2>One rating to help us all</h2>
  <p>If you are anything like me, you try avoid bad movies at all costs. A little bit of research is always helpful when you want to find out if you are about to watch a <a href="https://en.wikipedia.org/wiki/The_Ridiculous_6">terrible flick</a>. But ratings websites are so different! The IMDB scores sometimes seem a bit too optimistic (maybe too many people voting?), while Metascores can be a bit harsh (they are based on critic reviews, who tend to be harder to please).</p>
  <p>What if you could "skew" the ratings to be a bit more closer to your taste? This is our goal!</p>
  <p>This is what our coeficient is for. It creates a new movie rating based on the website reviews and your own taste!</p>
  <p>Check out the <%= link_to 'how does it work?', wut_path %> page to learn more.</p>
  <p>
    <% if user_signed_in? %>
			<p>Take a look at the <%= link_to 'coeficient', coeficient_path %> page to update it!</p>
		<% else %>
      <p>You need to <%= link_to 'log in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to use the coeficient!</p>
    <% end %>
  </p>
  <p>If you want to learn more, visit this project's <a href="https://github.com/bydlowski/MovieCoeficient">github</a> page.</p>
</div>