/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require awesomplete
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

@import "foundation_and_overrides";

.row {
    max-width: 95vw;
    padding: 1em;
}
.rating-suggestion {
	text-align: center;
}

/** Width of all the input fields **/
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  width: 25vw!important;
}
/** Width of the movie input **/
div.awesomplete > input {
	width: 60vw;
	font-size: 2rem;
}
.search-names img {
	height: 8vh;
}
.search-names  {
	text-align: left;
}
.result-image {
	display: inline-block;
}
.result-text {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5em;
	margin-left: 1em;
}
