/** GENERAL **/

/** Width of all the input fields **/
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  width: 25vw!important;
}
/** Movie input **/
.main {
	padding: 1em;
	background-color: darkslategrey;
	height: 100%;
}
div.awesomplete > input {
	width: 60vw;
	font-size: 2rem;
}
.search-names img {
	height: 8vh;
}
.search-names  {
	text-align: left;
}
.result-image {
	display: inline-block;
}
.result-text {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5em;
	margin-left: 1em;
}
.rating-suggestion {
	text-align: center;
}
/** Sugestion information */
.info-poster {
	margin: 2em 1em;
}
.info-poster img {
	height: 40vh;
}
/** SIDEBAR **/
.sidebar {
	padding: 0.3em;
	text-align: center;
	color: white;
}
.restart {
	background-color: lightgray;
	color: black;
	padding: 1em;
	margin-top: 5em;
}
.sidebar-site {
	font-size: 3vmin;
	text-align: left;
	padding: 0.5em;
}
.sidebar-site span {
	width: 25%;
	float: right;
}
.coef-imdb {background-color: yellow;color: black;}
.coef-rotten {background-color: green;}
.coef-metacritic {background-color: darkgreen;}
.coef-tmdb {background-color: lime;}
.coef-number {
	background-color: white;
	color: black;
	padding: 0;
}
.text-amount {
	font-size: 3vmin;
	padding: 0.5em;
	float: left!important;
	background-color: darkslategrey;
	width: 75%!important;
	color: white;
}
.number-amount {
	background-color: red;
	color: white;
	padding: 0.5em;
	text-align: center;
}
/** LOGIN FORM **/
.login-form {
	margin: 2em auto;
	color: white;
	width: 40vw;
}
.login-form h2 {text-align: center;}
.login-form label {color: white;}
.login-form-contents-texts input {
	width: 100%!important;
}
/** SINGLE PAGES **/
.page-container {
	width: 70vw;
	color: white;
	margin: 2em auto;
}
/** FRONT PAGE SIDEBAR **/
.front-sidebar {
	font-size: 3vmin;
	border: 1px solid black;
	text-align: center;
	clear: both;
	padding: 0;
}
.half-sidebar {
	border-top: none!important;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 1em;
	width: 50%;
	float: left;
	padding: 0.1em;
}
.coef-coef {background-color: red;}
.website-title {text-transform: uppercase;margin: 0; font-size: 1.5vmin;}
.website-rating {text-transform: uppercase;margin: 0; font-size: 4vmin; font-weight: bold;}
.your-rating-title {text-transform: uppercase;margin: 0; font-size: 2vmin; font-weight: bold; background-color: darkslategrey}
.your-rating {
	border-top: none!important;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 0.3em;
	padding: 0.2em 0;
	background-color: red;
	font-size: 9vmin;
	line-height: 1em;
	font-weight: bold;
}
.hidden_form {display: hidden;}